.user {
  display: flex;
  position: relative;
}

.userIcon {
  width: 38px;
}

.arrowDownIcon {
    width: 20px;
    cursor: pointer;
}

.userOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.141);
  border-radius: 20px;
  position: absolute;
  top: 120%;
  right: 0;
}

.userOption {
  padding: 12px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
  text-decoration: none;
}

.userOption:first-child {
  border-radius: 20px 20px 0 0;
}

.userOption:last-child {
  border-radius: 0 0 20px 20px;
}

.userOption:hover {
  background-color: rgba(128, 128, 128, 0.233);
}

.loginButton {
  padding: 0 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.loginButton:hover {
  color: gray;
}