.postInteractions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.interactionButtons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.saveButtonDiv {
  display: flex;
}

.savePost {
  background-color: #FF3E68;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.savePost:hover {
  background-color: #b92243;
}

.buttonIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 500px) {
  #moreButton {
    display: none;
  }
}

@media (max-width: 325px) {
  #shareButton {
    display: none;
  }
}