.container {
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
}

.main {
    flex: 1;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


